* {
  margin: 0;
  padding: 0;
}

.btn--custom {
  background-color: brown;
  color: antiquewhite;
  padding: 2px;
  text-align: center;
  vertical-align: middle;
  margin-left: 20px;
  margin-top: 8px;
}

p {
  margin-left: 20px;
  margin-top: 8px;
  padding: 2px;
  max-width: 500px;
}

.hidden {
  display: none;
  font-size: 50px;
}

.input_field {
  margin-left: 20px;
  margin-top: 8px;
  padding: 2px;
  width: 500px;
  height: 100px;
}
